.english-questionnaire-container {
    align-items: centrer;
    background-color: rgb(240, 235, 248);
    padding-top: 16px;
    padding-bottom: 9px;
    text-align: center;
}

mat-card {
    max-width: 520px;
    margin: 2em auto;
    text-align: left;
}

.question-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}

.question-radio-button {
    margin: 5px;
}

.kinestic-content {
    flex-grow: 1;
}

.kinestic-container {
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
    min-width: 1024px;
    max-width: 1240px;
    width: 100%;
}

.kinestic-sub-container {
    position: relative;
    margin-top: 30px;
    display: flex;
    align-items: center;
    margin-left: 524px;
}

.kinestic-list {
    color: #f3f7f7;
    font-size: 14px;
}

.example-box.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-chip .cdk-drop-list-dragging {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-drop-list {
    border: solid 1px;
    min-height: 60px;
    overflow: hidden;
    display: block;
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    border-radius: 10px;
}

.drag-drop-box {
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    background: rgb(30, 81, 97);
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    box-shadow: 0 8px 6px -6px #000;
}

.spinner {
    padding-left: 560px;
    padding-top: 206px;
}

.status-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}

.status-radio-button {
    margin: 5px;
    color: black;
}

.crossword-puzzles {
    /* color: #f3f7f7; */
    font-size: 14px;
}

.crossword-container {
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
    min-width: 1024px;
    max-width: 1240px;
    width: 100%;
}

.crossword-sub-container {
    position: relative;
    margin-top: 30px;
    display: flex;
}

.filter-label {
    margin-bottom: 10px;
    color: #738f93;
    text-transform: uppercase;
    text-align: left;
}

.row {
    display: flex;
    margin-left: 470px;
}

.answerinput {
    width: 45px;
    height: 45px;
    margin-right: 20px;
    text-transform: uppercase;
    text-align: center;
    border: 3px solid;
}

.stylecrosswordinput {
    text-transform: uppercase;
    text-align: center;
}